<nav>
  <% if user_signed_in? %>
    <%= render 'books/create_form' %>
    <%= render @books %>
  <% else %>
    <div class="center jumbotron">
      <h1>Warikan</h1>
      <h2>
        割り勘計算サービス	
      </h2>
      <%= link_to "Try it now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</nav>